/* This are comments */

#page-wrapper {
  width: 100%;
  max-width: 1040px;
  margin: 0px auto;
  height: fit-content;
  font-family: "Plus Jakarta Sans";
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0 0 0;
}

.logo-of-my-company {
  font-size: 20px;
  font-weight: bold;
}

.menu ul li {
  display: inline;
  padding: 0 24px;
}

button {
  background: none;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 10px 20px;
}

/* Banner Section */

#banner-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  background-image: url("../img/borovik-banner.png");
  background-repeat: no-repeat;
  width: 100%;
  max-width: 1040px;
  height: 360px;
  background-size: contain;
  margin: 40px auto 80px auto;
  border-radius: 20px;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro p {
  margin: 60px 0;
}

/* My Works Section */
#my-works {
  text-align: center;
  margin: 80px 0;
  border-radius: 20px 20px 0 0;
}

.briefing-step {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.briefing-step span {
  font-size: 16px;
  border: 2px solid #000;
  padding: 6px 14px;
  font-weight: bold;
  border-radius: 49px;
}

#my-works h2 {
  font-size: 24px;
  margin-bottom: 40px;
}

.works-container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.work-card {
  background-color: #abcfe4;
  border-radius: 15px;
  padding: 20px;
  width: 30%;
  text-align: center;
}

.work-card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.work-card h3 {
  font-size: 18px;
  margin: 10px 0 5px;
}

/* Work Process Section */
#work-process {
  background-color: #cde4f2;
  padding: 60px 120px;
  text-align: center;
  border-radius: 20px 20px 0 0;
}

#work-process h2 {
  font-size: 24px;
  margin-bottom: 40px;
}

.process-step {
  margin: 20px auto;
  padding-bottom: 20px;
  width: 100%;
  max-width: 1040px;
}

.process-step h3 {
  font-size: 60px;
  margin-bottom: 10px;
  text-align: left;
}

.process-step p {
  font-size: 16px;
  color: #000;
  font-weight: 700;
  text-align: left;
  border-top: 2px solid #000;
  padding-top: 24px;
}

/* Get in Touch Section */
#contact {
  background-color: #335767;
  color: #fff;
  padding: 60px 0;
  text-align: center;
  border-radius: 20px 20px 0 0;
  margin: -20px 0 0px 0;
}

#contact h2 {
  font-size: 56px;
  margin-bottom: 20px;
  font-style: italic;
  font-weight: normal;
}

#contact p {
  margin-bottom: 30px;
}

#contact form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 600px;
  margin: 0 auto;
}

#contact .input-group {
  display: flex;
  gap: 15px;
}

#contact .input-group input {
  flex: 1;
}

#contact input,
#contact textarea {
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
  background-color: #5c7580;
}

#contact input::placeholder,
#contact textarea::placeholder {
  color: #97b8c7;
}

#contact textarea {
  resize: vertical;
}

#contact button {
  background: none;
  border: 2px solid #fff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  max-width: 207px;
  align-self: center;
}

/* Footer */
footer {
  background-color: #335767;
  color: #5c7580;
  font-weight: bold;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 40px 120px;
  border-top: 1px dashed #5c7580;
}

footer .social-links a {
  color: #5c7580;
  margin: 0 10px;
  text-decoration: none;
  padding: 0 0 1px 0;
  border-bottom: 1px solid #5c7580;
}

/* Mobile menu */

.hamburger {
  width: 40px;
  height: 40px;
  transform: rotate(90deg);
  display: none;
}

.hamburger span {
  border: 2px solid black;
  width: 100%;
  display: inline;
  min-width: 10px;
  padding: 1px;
  background: #000;
  margin: 2px;
}

.menu.show {
  display: flex;
}

/* Tablet Screen - max-width: 768px */

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .menu {
    display: none;
  }

  header {
    flex-direction: column;
    text-align: center;
  }

  .menu ul {
    padding: 0;
    text-wrap: nowrap;
  }

  #work-process {
    padding: 40px 20px;
  }

  .works-container {
    flex-direction: column;
    gap: 30px;
  }

  .work-card {
    width: 100%;
  }

  #contact {
    padding: 40px 20px;
  }

  footer {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
  }
}

/* Mobile Screen - max-width: 375px */
@media (max-width: 375px) {
  header {
    padding: 20px 0;
  }

  #banner-wrapper .banner {
    width: 80%; /* Make the banner narrower */
    height: 80vw; /* Increase the height to make it more square-like */
    background-size: cover; /* Cover the banner area */
    background-position: center; /* Center the image */
    border-radius: 15px; /* Slightly rounded corners */
    margin: 20px auto 60px auto; /* Center the banner */
  }

  .menu ul li {
    padding: 0 12px;
    font-size: 14px;
  }

  #work-process h2 {
    font-size: 20px;
  }

  /* this one*/
  .process-step h3 {
    font-size: 30px;
  }

  #contact h2 {
    font-size: 32px;
  }

  #contact form {
    gap: 10px;
    max-width: 90%;
  }

  #contact .input-group {
    flex-direction: column;
    gap: 10px;
  }

  footer {
    padding: 20px;
    text-align: center;
  }
}

.new_class {
  text-decoration: underline;
}
